<a href="https://colab.research.google.com/github/camilaccosta/Exerc-cios-m-dulo-1-/blob/main/LISTA_PANDAS_1_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Questão 01**

Em um concurso público foram contabilizados os números de pessoas inscritas (até a data inicialmente estabelecida para a inscrição) segundo os níveis de escolaridade: fundamental completo, médio completo, superior completo e pós-graduação completa. Segue abaixo a tabela com os valores observados.

Nível de escolaridade	Inscritos
Fundamental completo	451
Médio completo	627
Superior completo	292
Pós-graduação completa	95
Com base na tabela acima, crie uma Series com esses valores e calcule:

(a) O número total de inscritos
(b) Número inscritos que possuem, pelo menos, o superior completo.
(c) Suponha que a inscrição foi prorrogada e, com isso, foi obtido um número adicional de inscrições: 68, 93, 22 e 0 inscritos a mais em cada uma das categorias de escolaridade apresentados na tabela acima (na mesma ordem). Assim, crie uma nova Series com esses valores.
(d) Utilizando as duas Series que você tem, calcule o número total de inscritos após a prorrogação do período de inscrições.

In [ ]:
import pandas as pd

In [ ]:
lista= [451,627,292,95]
pd.Series(data=lista, index=['Fundamental completo', 'Medio completo', 'Superior completo', 'Pós-graduação completa'])

Fundamental completo      451
Medio completo            627
Superior completo         292
Pós-graduação completa     95
dtype: int64

In [ ]:
#A)TOTAL DE INSCRITOS 
minhaSeries = pd.Series(data=lista, index=['Fundamental completo', 'Medio completo', 'Superior completo', 'Pós-graduação completa'])
print(f"O total de inscritos é igual a {minhaSeries.sum()} . ")

O total de inscritos é igual a 1465 .

In [ ]:
#B) TOTAL DE INSCRITOS COM PELO MENOS SUPERIOR COMPLETO 
print(f"O total de inscritos que tem pelo menos o superior completo  é igual a {minhaSeries[2:4].sum()} . ")

O total de inscritos que tem pelo menos o superior completo  é igual a 387 .

In [ ]:
#C) numeros novos de inscritos  68, 93, 22 e 0.
listaNova=[68,93,22,0]
pd.Series(data=listaInscProrrogadas, index=['Fundamental completo', 'Medio completo', 'Superior completo', 'Pós-graduação completa'])
serie_nova = pd.Series(data=listaInscProrrogadas, index=['Fundamental completo', 'Medio completo', 'Superior completo', 'Pós-graduação completa'])

In [ ]:
print(serie_nova)

Fundamental completo      68
Medio completo            93
Superior completo         22
Pós-graduação completa     0
dtype: int64

In [ ]:
#D) TOTAL DE INSCRITOS ATUALIZADO 
for i in range(0,4):
  listaNova[i]= lista[i]+listaNova[i]
print(listaNova)

[519, 720, 314, 95]

In [ ]:

pd.Series(data=listaNova, index=['Fundamental completo', 'Medio completo', 'Superior completo', 'Pós-graduação completa'])
serieAtualizada = pd.Series(data=listaNova, index=['Fundamental completo', 'Medio completo', 'Superior completo', 'Pós-graduação completa'])
print(f"O total de inscritos é igual a {serieAtualizada.sum()} . ")

O total de inscritos é igual a 1648 .

**QUESTÃO 2**

Uma turma de cinco alunos foi submetida a uma avaliação e a nota de cada um dos alunos é apresentada na tabela abaixo:

Nome do Aluno	Nota

Wilfred	2

Abbie	7

Harry	5.5

Julia	10

Carrie	6.2

(a) Crie uma Series com os valores da tabela acima.
(b) Retorne o número de alunos que foram aprovados (considerando que a nota mínima para a aprovação é 7).
(c) Qual foi a nota média da turma.
(d) Obtenha o nome dos alunos que tiraram notas acima da média da turma.

In [ ]:
listaAlunos= [2, 7, 5.5, 10, 6.2]
pd.Series(data=listaAlunos, index=['Wilfred', 'Abbie', 'Harry', 'Julia','Carrie'])
alunos_series = pd.Series(data=listaAlunos, index=['Wilfred', 'Abbie', 'Harry', 'Julia','Carrie'])
print(alunos_series)

Wilfred     2.0
Abbie       7.0
Harry       5.5
Julia      10.0
Carrie      6.2
dtype: float64

(b) Retorne o número de alunos que foram aprovados (considerando que a nota mínima para a aprovação é 7.

In [ ]:
alunos_series[alunos_series >= 7].size

2

In [ ]:
print(f" {alunos_series[alunos_series >= 7].size} alunos foram aprovados. ")

 2 alunos foram aprovados.

(c) Qual foi a nota média da turma

In [ ]:

print(f" A média da turma foi: {alunos_series.mean()} .")

 A média da turma foi: 6.14 .

In [ ]:
alunos_series.mean()

6.14

In [ ]:
alunos_series[alunos_series >= alunos_series.mean() ].index

Index(['Abbie', 'Julia', 'Carrie'], dtype='object')

**QUESTÃO 3** 

Crie um objeto DataFrame que contenha os dados da tabela abaixo, os quais se referem ao peso, altura e idade de cinco pessoas:

Peso (kg)	Altura (cm)	Idade

72	180	31

80	170	21

60	175	16

90	174	28

100	185	23

Com base no DataFrame criado, realize o que pedido nos itens abaixo:


(b) Obtenha a idade média das pessoas.
(c) Obtenha os dados das pessoas que estão abaixo da altura média.
(d) Crie um nova coluna no DataFrame que contenha o IMC (Índice de Massa Corporal) de cada pessoa.
(e) Remova a coluna que contém a idade das pessoas.
(f) Salve esses dados do DataFrame em um arquivo csv.

(a) Visualize apenas os dados da coluna que contém a altura das pessoas.

In [ ]:
data= {
      "Peso (Kg)" :[72,80,60,90,100],
      "Altura(cm)" :[180,170,175,174,185],
      "Idade" :[31,21,16,28,23]
}

In [ ]:
print(data)

{'Peso (Kg)': [72, 80, 60, 90, 100], 'Altura(cm)': [180, 170, 175, 174, 185], 'Idade': [31, 21, 16, 28, 23]}

In [ ]:
df_pessoas = pd.DataFrame(data, columns =["Peso (Kg)", "Altura(cm)", "Idade"], index=['Pessoa1', 'Pessoa2', 'Pessoa3', 'Pessoa4','Pessoa5'])

(b) Obtenha a idade média das pessoas

In [ ]:
df_pessoas["Idade"].mean()

23.8

(c) Obtenha os dados das pessoas que estão abaixo da altura média.

In [ ]:
df_pessoas[df_pessoas["Altura(cm)"]< df_pessoas["Altura(cm)"].mean()]

         Peso (Kg)  Altura(cm)  Idade
Pessoa2         80         170     21
Pessoa3         60         175     16
Pessoa4         90         174     28

(d) Crie um nova coluna no DataFrame que contenha o IMC (Índice de Massa Corporal) de cada pessoa.

In [ ]:

df_pessoas["IMC"] = (df_pessoas["Peso (Kg)"] / ((df_pessoas["Altura(cm)"]/100)**2))

In [ ]:
print(df_pessoas)

         Peso (Kg)  Altura(cm)  Idade        IMC
Pessoa1         72         180     31  22.222222
Pessoa2         80         170     21  27.681661
Pessoa3         60         175     16  19.591837
Pessoa4         90         174     28  29.726516
Pessoa5        100         185     23  29.218408

(e) Remova a coluna que contém a idade das pessoas.

In [ ]:
df_pessoas.drop(columns = ["Idade"])

         Peso (Kg)  Altura(cm)        IMC
Pessoa1         72         180  22.222222
Pessoa2         80         170  27.681661
Pessoa3         60         175  19.591837
Pessoa4         90         174  29.726516
Pessoa5        100         185  29.218408

(f) Salve esses dados do DataFrame em um arquivo csv.

In [ ]:
df_pessoas.to_csv("L_Pandas1_Questao3.csv", sep='\t')

**QUESTÃO 4**

Carregue, em um objeto DataFrame, o arquivo CSV que você salvou no item (f) da questão anterior. Em seguida,

(a) Crie uma nova coluna que contenha o nome das pessoas (sinta-se à vontade para atribuir os nomes que preferir).

(b) Defina a nova coluna criada (com os nomes) como o índice (index) do seu DataFrame.

(c) Obtenha o nome das pessoas que são classificadas com Sobrepeso (IMC entre 25 e 29,9).

In [ ]:
df_anterior= pd.read_csv("L_Pandas1_Questao3.csv", sep='\t')

In [ ]:
df_anterior.head()

  Unnamed: 0  Peso (Kg)  Altura(cm)  Idade        IMC
0    Pessoa1         72         180     31  22.222222
1    Pessoa2         80         170     21  27.681661
2    Pessoa3         60         175     16  19.591837
3    Pessoa4         90         174     28  29.726516
4    Pessoa5        100         185     23  29.218408

(a) Crie uma nova coluna que contenha o nome das pessoas.

In [ ]:
df_anterior["Nomes"]=["Camila", "Carolina", "Pedro", "João","Victor"]
df_anterior.head()

   Peso (Kg)  Altura(cm)  Idade        IMC     Nomes
0         72         180     31  22.222222    Camila
1         80         170     21  27.681661  Carolina
2         60         175     16  19.591837     Pedro
3         90         174     28  29.726516      João
4        100         185     23  29.218408    Victor

In [ ]:
df_anterior.set_index("Nomes", inplace =True )

KeyError: ignored

In [ ]:
df_anterior.head()

          Peso (Kg)  Altura(cm)  Idade        IMC
Nomes
Camila           72         180     31  22.222222
Carolina         80         170     21  27.681661
Pedro            60         175     16  19.591837
João             90         174     28  29.726516
Victor          100         185     23  29.218408

(c) Obtenha o nome das pessoas que são classificadas com Sobrepeso (IMC entre 25 e 29,9).

In [ ]:
df_anterior[(df_anterior["IMC"]> 25 )].index

Index(['Carolina', 'João', 'Victor'], dtype='object', name='Nomes')

**QUESTÃO 5**
Carregue, em um objeto DataFrame, o mesmo dataset que você salvou na Questão 3. Em seguida,

(a) Adicione uma nova coluna nesse DF chamada Classificação, que contenha a classificação de cada indivíduo, de acordo com o seu IMC. Para isso, consulte a tabela abaixo.

IMC	Classificação	Obesidade (grau)
Menor que 18,5	Magreza	0
Entre 18,5 e 24,9	Normal	0
Entre 25,0 e 29,9	Sobrepeso	I
Entre 30,0 e 39,9	Obesidade	II
Maior que 40,0	Obesidade Grave	III
(b) Salve em DataFrame no formato xlsx.

In [ ]:
df_questao5 = pd.read_csv("L_Pandas1_Questao3.csv", sep='\t')

(a) Adicione uma nova coluna nesse DF chamada Classificação, que contenha a classificação de cada indivíduo, de acordo com o seu IMC. Para isso, consulte a tabela abaixo.

In [ ]:
df_questao5["Classificação"]= ["Normal "," Obesidade "," Normal"," Obesidade "," Obesidade "]
df_questao5.head()

  Unnamed: 0  Peso (Kg)  Altura(cm)  Idade        IMC Classificação
0    Pessoa1         72         180     31  22.222222       Normal
1    Pessoa2         80         170     21  27.681661    Obesidade
2    Pessoa3         60         175     16  19.591837        Normal
3    Pessoa4         90         174     28  29.726516    Obesidade
4    Pessoa5        100         185     23  29.218408    Obesidade

In [ ]:
df_questao5.drop(	columns=["Unnamed: 0"], inplace=True) #EXCLUINDO A COLUNA UNNAMED:0

In [ ]:
df_questao5.head()

   Peso (Kg)  Altura(cm)  Idade        IMC Classificação
0         72         180     31  22.222222       Normal
1         80         170     21  27.681661    Obesidade
2         60         175     16  19.591837        Normal
3         90         174     28  29.726516    Obesidade
4        100         185     23  29.218408    Obesidade

b) Defina a nova coluna criada (com os nomes) como o índice (index) do seu DataFrame.

In [ ]:
df_questao5["Nomes"]=["Camila", "Carolina", "Pedro", "João","Victor"]
df_questao5.set_index("Nomes")

          Peso (Kg)  Altura(cm)  Idade        IMC Classificação
Nomes
Camila           72         180     31  22.222222       Normal
Carolina         80         170     21  27.681661    Obesidade
Pedro            60         175     16  19.591837        Normal
João             90         174     28  29.726516    Obesidade
Victor          100         185     23  29.218408    Obesidade

In [ ]:
df_questao5.to_excel("L_Pandas1_Questao5.xlsx")